<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Secret Santa GAME!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1>SECRET SANTA GAME</h1>

    <hr>

    <a th:href="@{/secretSanta/add}">
        <button style="background-color:#FA4A3D; color:white; border-radius:5px">Add Player</button>
    </a>

    <br><br>

    <table style="background-color:black">
            <tr style="background-color:lightblue">
                <th class="text-center"> PLAYER ID </th>
                <th class="text-center"> PLAYER NAME </th>
                <th class="text-center"> NOT MATCHING PLAYER</th>
                <th class="text-center"> OPTIONS </th>
            </tr>
            <tr style="background-color:white" th:each="player : ${players}">
                <td th:text=${player.player_id}> Player ID</td>
                <td th:text=${player.player_name}> Player Name</td>
                <td th:text=${player.notMatch}> Player notMatch</td>
                <td>
                    <a th:href="@{/secretSanta/updateName/{id}(id=${player.player_id})}">
                        <button style="background-color:grey; color:white; border-radius:5px">Update Player Name</button>
                    </a>
                    <a th:href="@{/secretSanta/updateNotMatch/{id}(id=${player.player_id})}">
                        <button style="background-color:grey; color:white; border-radius:5px">Update Player Not Match</button>
                    </a>
                    <a th:href="@{/secretSanta/delete/{id}(id=${player.player_id})}">
                        <button style="background-color:grey; color:white; border-radius:5px">Delete Player </button>
                    </a>
                </td>
            </tr>
    </table>

    <br>

    <a th:href="@{/secretSanta/play}">
        <button style="background-color:#FA4A3D; color:white; border-radius:5px">Play!</button>
    </a>

</body>
</html>