<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updating Name</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <br>
    <h1>EDITING NAME</h1>
        <form th:action="@{/secretSanta/updateName/{id}(id=${playerFound.player_id})}" th:object="${playerFound}" method="post">
            <label for="nombre">New Name: </label>
                    <input type="text" class="form-control" id="nombre" th:field="*{player_name}" placeholder="Write the new name of the player">
                <br>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
</body>
</html>