<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updating Name</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <br>
    <h1>EDITING NAME</h1>
        <div class="container">
        <form th:action="@{/secretSanta/updateName/{id}(id=${playerFound.player_id})}" th:object="${playerFound}" method="post">
            <label id="id1" for="nombre">New Name: </label>
                    <input type="text" class="form-control" id="nombre" th:field="*{player_name}" placeholder="Write the new name of the player">
                <br><br>
            <button type="submit" style="background-color:#FA4A3D; color:white; border-radius:5px">Save</button>
        </form>
        </div>
</body>
</html>